<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.cu.gbict.bknd_class_07.UserMapper">
  
  <select id="readAll">
    SELECT * FROM user
  </select>

  <select id="readOne" parameterType="java.lang.Long">
    SELECT * FROM user WHERE id=#{id}
  </select>

  <insert id="create" parameterType="kr.ac.cu.gbict.bknd_class_07.User">
    INSERT INTO user(name, email) VALUES(#{name}, #{email})
  </insert>

  <update id="update" parameterType="kr.ac.cu.gbict.bknd_class_07.User">
    UPDATE user SET name=#{name}, email=#{email} WHERE id=#{id}
  </update>

  <delete id="delete" parameterType="java.lang.Long">
    DELETE FROM user WHERE id=#{id}
  </delete>

</mapper>